
<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
  <!-- <link href="{{ url_for('static', filename='fonts/icomoon/style.css') }}" rel="stylesheet" type="text/css"> -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" type="text/css">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css" type="text/css">
  <link href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet" type="text/css">
  <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


  <style>
  .testimonials-img {
  display: inline-block !important;}


  </style>
</head>
</head>

<body style="background-image: url('');">
 
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!--.site-mobile-menu-->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="/" class="font-weight-bold">MARS</a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    
                      <li><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Data</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="slide-one-item home-slider owl-carousel">
      
      <!-- <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6" data-aos="fade">
              <h1 class="font-secondary font-weight-bold text-uppercase">Small Business Insurance Agency</h1>
              <span class="caption d-block text-white">An Insurance Company</span>
            </div>
          </div>
        </div>
      </div>   -->
      <div class="site-blocks-cover inner-page overlay" style="background-image:  url( {{all_data.featured_image_url}});" data-aos="fade" data-stellar-background-ratio="0.5">

          <div class="container">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-7 text-center" data-aos="fade">
                <h1 class="font-secondary font-weight-bold text-uppercase">Mission to Mars</h1>
                <span class="caption d-block text-white">Last Update: {{all_data.current}}</span>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get The Latest Data</a>
              </div>
            </div>
          </div>
        </div> 
      <div class="site-blocks-cover inner-page overlay" style="background-image:  url({{ url_for('static', filename='images/hero_bg_4.jpg') }});" data-aos="fade" data-stellar-background-ratio="0.5">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="font-secondary font-weight-bold text-uppercase">Mission to Mars</h1>
              <span class="caption d-block text-white">{{all_data.current}}</span>
              <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get The Latest Data</a>
            </div>
          </div>
        </div>
      </div> 
      
     
      <div class="site-blocks-cover inner-page overlay" style="background-image: url({{ url_for('static', filename='images/hero_bg_5.jpg') }});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
              <div class="col-md-7 text-center" data-aos="fade">
                  <h1 class="font-secondary font-weight-bold text-uppercase">Mission to Mars</h1>
                  <span class="caption d-block text-white">{{all_data.current}}</span>
                  <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get The Latest Data</a>
                </div>
          </div>
        </div>
      </div> 
      <div class="site-blocks-cover inner-page overlay" style="background-image: url({{ url_for('static', filename='images/hero_bg_6.jpg') }});" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
              <div class="col-md-7 text-center" data-aos="fade">
                  <h1 class="font-secondary font-weight-bold text-uppercase">Mission to Mars</h1>
                  <span class="caption d-block text-white">{{all_data.current}}</span>
                  <a class="btn btn-primary btn-lg" href="/scrape" role="button">Get The Latest Data</a>
                </div>
          </div>
        </div>
      </div> 
    </div>
    





    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="site-section-heading text-center text-uppercase">Fast Facts</h2>
          </div>
        </div>
        

        <div class="row justify-content-center">

        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='icons/storm.png') }}" alt="Image" class="img-fluid w-25 mb-4">
            <h2 class="h5 ">Latest Weather Update</h2>
            <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
            <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
          </div>
          {% for item in all_data.table_titles %}
          <div class="col-md-6 text-center">
              <img src="{{ url_for('static', filename=all_data.table_icons[loop.index-1]|safe) }}" alt="Test" class="img-fluid w-25 mb-4">

          <h2 class="h5 ">{{ all_data.table_titles[loop.index-1]}}</h2>
          <p class="font-weig mb-5 lead">{{ all_data.table_values[loop.index-1]}}</p>
        </div>
          {% endfor %} 
        
          
      
      </div>



        <!-- <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='icons/storm.png') }}" alt="Image" class="img-fluid w-25 mb-4">
            <h2 class="h5 ">Latest Weather Update</h2>
            <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
            <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
          </div>
          <div class="col-md-6 text-center">
              <img src="{{ url_for('static', filename='icons/celsius.png') }}" alt="Image" class="img-fluid w-25 mb-4">
              <h2 class="h5">Surface Temperature</h2>
            <span class="d-block mb-4">President, Co-Founder</span> 
            <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
          </div>
          <div class="col-md-6 text-center">
              <img src="{{ url_for('static', filename='icons/orbit.png') }}" alt="Image" class="img-fluid w-25 mb-4">
              <h2 class="h5 ">Equatorial Diameter</h2>
              <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
              <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='icons/earth.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                <h2 class="h5">Polar Diameter</h2>
              <span class="d-block mb-4">President, Co-Founder</span> 
              <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{{ url_for('static', filename='icons/mass.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                <h2 class="h5 ">Mass</h2>
                <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
                <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
              </div>
              <div class="col-md-6 text-center">
                  <img src="{{ url_for('static', filename='icons/moon.png') }}" alt="Image" class="img-fluid  w-25 mb-4">
                  <h2 class="h5">Moons</h2>
                <span class="d-block mb-4">President, Co-Founder</span> 
                <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
              </div>
              <div class="col-md-6 text-center">
                  <img src="{{ url_for('static', filename='icons/solar-system.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                  <h2 class="h5 ">Orbit Distance</h2>
                  <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
                  <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ url_for('static', filename='icons/jupiter-with-satellite.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                    <h2 class="h5">Orbit Period</h2>
                  <span class="d-block mb-4">President, Co-Founder</span> 
                  <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ url_for('static', filename='icons/clipboard.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                    <h2 class="h5 ">First Record</h2>
                    <span class="d-block mb-4">{{all_data.mars_weather_text[0:30]}}</span>
                    <p class="font-weig mb-5 lead">{{all_data.mars_weather_text[30:]}}</p>
                  </div>
                  <div class="col-md-6 text-center">
                      <img src="{{ url_for('static', filename='icons/telescope.png') }}" alt="Image" class="img-fluid w-25 mb-4">
                      <h2 class="h5">Recorded By</h2>
                    <span class="d-block mb-4">President, Co-Founder</span> 
                    <p class="font-weig mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
                  </div> -->
        </div>
      </div>  
    </div>
    
    <div class="site-section bg-light">
      <div class="container">
        
       
        <div class="row align-items-center">
          
          <div class="col-md-4">
              <img src="{{all_data.featured_image_url}}" alt="Image" class="img-fluid rounded-circle w-60 mb-4">
            </div>
        
          <div class="col-md-6 ml-auto">
              <h3>About Mars</h3>
              <p>Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System after Mercury. In English, Mars carries a name of the Roman god of war, and is often referred to as the "Red Planet". because the iron oxide prevalent on its surface gives it a reddish appearance that is distinctive among the astronomical bodies visible to the naked eye. Mars is a terrestrial planet with a thin atmosphere, having surface features reminiscent both of the impact craters of the Moon and the valleys, deserts, and polar ice caps of Earth.</p>          
              <p>Featured Image: {{all_data.featured_image_url}}</p>          

            </div>
        </div>
      </div>
    </div>
    

    

    <div class="site-section block-14">
    <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h2 class="site-section-heading text-uppercase text-center font-secondary">The Martian Dichotomy</h2>
          <span class="caption d-block mb-2 font-secondary font-weight-bold">The Hemispheres</span>

        </div>
      </div>


      {% for hemis_dict in all_data.hemis_dicts_all %}

      <div class="site-half">
          <div class="{{ loop.cycle('img-bg-1', 'img-bg-1 right') }}" style="background-image: url({{hemis_dict.img_url}});"></div>
          <div class="container">
            <div class="row no-gutters align-items-stretch">
                  <div class="{{ loop.cycle('col-md-5 ml-md-auto py-5', 'col-md-5 mr-md-auto py-5') }}">  
                <span class="caption d-block mb-2 font-secondary font-weight-bold">HEMISPHERE {{ loop.index }}</span>
                <h2 class="site-section-heading text-uppercase font-secondary mb-5">{{hemis_dict.title}}</h2>
                <p>{{hemis_dict.body}}</p>
      
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
  </div>

  
    <div class="site-section block-14 bg-light nav-direction-white">

      <div class="container">
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="site-section-heading text-center text-uppercase">Want to learn more?</h2>
            <span class="caption d-block mb-2  text-center font-secondary font-weight-bold">Resources</span>

            <p class=" text-center">Below are some additional resources to dive deeper.</p>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">
          
          <div class="p-5">
            <div class="d-block block-testimony w-75 mx-auto text-center">
              <div class= "w-25 mx-auto mb-4">
                <img src="{{ url_for('static', filename='icons/mars_favicon.ico') }}" alt="Image" class="img-fluid w-25 mb-4 testimonials-img">              
              </div>
              <div>
                <h2 class="h2 mb-4">NASA's Mars Exploration Program - News</h2>
                <!-- <a href="https://mars.nasa.gov/news">NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</a> -->
                <p>NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</p>

              </div>
            </div>
          </div><div class="p-5">
              <div class="d-block block-testimony w-75 mx-auto text-center">
                <div class="person w-25 mx-auto mb-4">
                    <img src="{{ url_for('static', filename='icons/jpl_favicon.ico') }}" alt="Image" class="img-fluid w-25 mb-4 testimonials-img">              
                  </div>
                <div>
                  <h2 class="h2 mb-4">NASA's JPL Space Images - Mars</h2>
                  <!-- <a href="https://mars.nasa.gov/news">NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</a> -->
                  <p>NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</p>
  
                </div>
              </div>
            </div>
            <div class="p-5">
                <div class="d-block block-testimony w-75 mx-auto text-center">
                  <div class="person w-25 mx-auto mb-4">
                      <img src="{{ url_for('static', filename='icons/twitter_favicon.ico') }}" alt="Image" class="img-fluid w-25 mb-4 testimonials-img">              
                    </div>
                  <div>
                    <h2 class="h2 mb-4">Mars Weather Twitter (@MarsWxReport)</h2>
                    <!-- <a href="https://mars.nasa.gov/news">NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</a> -->
                    <p>NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</p>
    
                  </div>
                </div>
              </div>
              <div class="p-5">
                  <div class="d-block block-testimony w-75 mx-auto text-center">
                    <div class="person w-25 mx-auto mb-4">
                        <img src="{{ url_for('static', filename='icons/sf_favicon.png') }}" alt="Image" class="img-fluid w-25 mb-4 testimonials-img">              
                      </div>
                    <div>
                      <h2 class="h2 mb-4">Space Facts - Mars</h2>
                      <!-- <a href="https://mars.nasa.gov/news">NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</a> -->
                      <p>NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</p>
      
                    </div>
                  </div>
                </div>
                <div class="p-5">
                    <div class="d-block block-testimony w-75 mx-auto text-center">
                      <div class="person w-25 mx-auto mb-4">
                          <img src="{{ url_for('static', filename='icons/astrogeology_favicon.ico') }}" alt="Image" class="img-fluid w-25 mb-4 testimonials-img">              
                        </div>
                      <div>
                        <h2 class="h2 mb-4">Astropedia - Mars Hemisphere Images</h2>
                        <!-- <a href="https://mars.nasa.gov/news">NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</a> -->
                        <p>NASA's real-time portal for Mars exploration, featuring the latest news, images, and discoveries from the Red Planet.</p>
        
                      </div>
                    </div>
                  </div>

        </div>

      </div>
      
    </div>

    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-left text-md-left mb-3 mb-md-0">
            <h2 class="text-uppercase text-white mb-0">Mission to Mars</h2>

              <p>This site compiles up to date information about Earth's neighbor, Mars. Information displayed on this site are scraped from multiple resources. See the resources menu for more information.</p>
              <div>Icons made by Roundicons from www.flaticon.com is licensed by CC 3.0 BY</div>

          </div>
          <div class="col-md-3 ml-auto text-center text-md-left">
            <a href="/scrape" class="btn btn-bg-primary d-inline-block d-md-block font-secondary text-uppercase">Refresh Data</a> 
          </div>
        </div>
      </div>
    </div>
    


  
       


  </div>


<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/aos.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>

